/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.verifynumber input[type="number"] {
  -moz-appearance: textfield;
  /* background-color: green; */
  width: 90%;
  margin: 4%;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    /* display: flex;
    align-content: center;
    justify-content: center; */
    margin-bottom: 20px;
  }
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 1px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

@media only screen and (max-width: 576px) {
  .tab {
    /* background-color: green; */
    width: 100%;
  }
  button p {
    /* background-color: red; */
    font-size: 0.44rem;
    font-weight: bold;
  }

  button img {
    width: 50px;
  }
}

/* pagination starts */
.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
  align-content: center;
  justify-content: center;
}
.pagination > .active > a {
  background-color: #47ccde;
  border-color: #47ccde;
  color: #fff;
}
.pagination > li > a {
  border: 1px solid #47ccde;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #47ccde;
  border-color: #47ccde;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #47ccde;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}
/* pagination ends */

/* paystack payment */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");

.App {
  /* background-color: red; */
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: "Roboto";
  letter-spacing: 0.1rem;
}

.containers {
  margin-top: 50px;
  display: flex;
  width: 400px;
  /* height: 430px; */
}

.item {
  width: 100%;
  position: relative;
}

.item-image {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.overlay-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.2;
  background-color: #303030;
  overflow: hidden;
  z-index: 1;
}

.item-details {
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
  margin-left: 20px;
  color: #000;
  text-align: left;
}

.item-details__title {
  font-size: 22px;
}

.item-details__amount {
  font-weight: bolder;
}

.checkout {
  /* background: #84a17d; fallback for old browsers */
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 430px;
  padding: 50px;
  /* padding-left: 50px;
  padding-right: 50px; */
  margin-top: 50px;
  width: 100%;
}

.checkout-form {
  padding: 10px 25px;
}

.checkout-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.checkout-field label {
  text-align: left;
  /* color: #979da7; */
  color: #000;
  font-size: 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.checkout-field input {
  background-color: transparent;
  border: 1px solid #cecece;
  border-radius: 5px;
  color: #e0eafc;
  height: 35px;
  padding-left: 10px;
}

.checkout-field input:focus {
  background-color: transparent;
  outline: none;
}

.paystack-button {
  cursor: pointer;
  text-align: center;
  font-size: 10px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: #bfbfbf;
  font-weight: bold;
  /* color: #e0eafc; */
  color: #000;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 45px;
  margin-top: 20px;
}

.paystack-button:hover {
  background-color: #dadada;
}

.paystack-button:focus {
  outline: none;
}

.allnew {
  display: flex;
  flex-wrap: wrap;
}

.allnew > div {
  margin: 5px;
  padding: 2px;
  width: 50%;
}

.allsecond {
  display: flex;
  flex-wrap: wrap;
}

.allsecond > div {
  margin: 5px;
  padding: 2px;
  width: 100%;
}

@media (min-width: 600px) {
  .allnew {
    display: flex;
    flex-wrap: nowrap;
  }

  .allnew > div {
    padding: 10px;
    width: 50%;
  }

  .allsecond {
    display: flex;
    flex-wrap: nowrap;
  }

  .allsecond > div {
    padding: 10px;
    width: 50%;
  }
}

@media (max-width: 599px) {
  .App {
    /* background: green; */
    width: 100%;
    height: auto;
  }
  .allnew {
    display: flex;
    flex-wrap: wrap;
  }

  .containers {
    /* background-color: red; */
    width: 400px;
  }

  .allnew > div {
    padding: 10px;
    /*width: 50%;*/
  }
}
/* paystack payment ends */

.dashboardCard {
  /* background-color: #47ccde; */
  max-width: 89%;
  /* padding: 5%; */
}
@media only screen and (max-width: 600px) {
  .dashboardCard {
    max-width: 100%;
    margin-bottom: 5%;
    /* background-color: red; */
  }
}
